@import '../../../modules/keyframes';

.message_container {
  -webkit-user-select: text;
  display: flex;
  padding: 3px 5px 3px 0;
  transition: background-color 50ms ease-in-out, opacity 40ms ease-in;
  word-break: break-word;

  &.fadeIn {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 80ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  &.sending {
    opacity: 0.4;
  }

  &.firstInChain {
    margin-top: 6px;
  }

  &:hover {
    background-color: var(--chat-message-hover-background-color);

    .aside .time {
      opacity: 1;
    }
  }
  @import 'aside';

  .body {
    display: inline-block;
    flex: 1;
    text-rendering: optimizeLegibility;

    .info {
      display: block;
      margin-bottom: 5px;

      span {
        display: inline-block;

        &.time {
          font-size: var(--chat-message-subheader-font-size);
          top: -1px;
          position: relative;
          margin-left: 5px;
          line-height: var(--chat-message-header-font-size);
          font-weight: var(--chat-message-subheader-font-weight);
          color: var(--chat-message-secondary-color);
        }

        &.user {
          font-size: var(--chat-message-header-font-size);
          font-weight: var(--chat-message-header-font-weight);
          color: var(--chat-message-primary-color);
        }
      }
    }

    .text {
      margin: 0;
      display: flex;
      line-height: var(--chat-message-line-height);
      white-space: pre-wrap;
      font-size: var(--chat-message-font-size);
      color: var(--chat-message-primary-color);
    }
  }
}
