.header_container {
  display: block;
  height: 55px;
  padding-top: 10px;
  padding-left: 30px;
  box-shadow: inset 0 -2px 2px -1px #eef2f5;

  .name {
    display: block;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #2a2f35;
  }

  .spacer {
    font-size: 13px;
    font-weight: 400;
    margin-top: 6px;
    color: #e7ecf0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .meta {
    font-size: 13px;
    font-weight: 700;
    margin-top: 6px;
    color: #a8b4c0;
  }

  div {
    display: inline-block;
  }
}
